@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary-color-dark: #030712;
  --secondary-color-dark: #111827;
  --gray-dark-100: #1f2937;
  --grey-dark-200: #374151;
  --grey-dark-300: #4b5563;
  --grey-dark-400: #6b7280;
  --grey-dark-500: #9ca3af;
  --grey-dark-600: #d1d5db;
  --grey-dark-700: #e5e7eb;
  --grey-dark-800: #f3f4f6;
  --grey-dark-900: #f9fafb;
  --text-color: #ffffff;

  --max-width: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",sans-serif;
  background-color: var(--primary-color-dark);
  color: var(--text-color);
}

.navbar {
  position: fixed;
  background-color: var(--primary-color-dark);
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
  z-index: 100;
}

/* html.dark body {
  background: #020617;
  color: #f8fafc;
} */
/* html.dark .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
} */

.nav_content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
nav .logo a:hover {
  color: var(--extra-light);
}

.menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}
nav .checkbox {
  display: none;
}
nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--extra-light);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--extra-light);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--extra-light);
  border-bottom-color: var(--extra-light);
}
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--extra-light);
}
.nav__links button{
  cursor: pointer;
}
/* =========================================================== */
.section {
  max-width: var(--max-width); 
  margin: auto;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_container{
  width: 600px;
}

.judul {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.judul span {
  font-weight: 600;
}
.describe {
  text-align: justify;  
}

.location {
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  gap: 10px;
  font-weight: 700;
  color: var(--text-light);
  margin-bottom: 1rem;
  margin-top: 10px;
}
.button {
  display: flex;
  gap: 3rem;
}

.button button {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  color: var(--gray-dark-100);
  background: var(--grey-dark-900);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.button button:hover {
  transform: translateY(-5px);
  background: var(--gray-dark-100);
  border-color:transparent;
  border: transparent;
  color:var(--grey-dark-900);
  box-shadow:  0 6px 12px var(--grey-dark-600);
}

.section-pict img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid var(--grey-dark-200);
}
/* ================================================= */
.aboutme {
  color: var(--text-dark);
  min-height: 100vh;
  margin: auto;
  max-width: var(--max-width);
  /* background-color: #374151; */
}
.aboutme-tag {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}
.aboutme-tag h2 {
  border-radius: 50px;
  width: 250px;
  background-color: var(--grey-dark-300);
  padding: 10px;
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  display: flex;
  padding-right: 1rem;
  text-indent: 3rem;
}
.image2 {
  place-items: center;
}
.image2 img {
  width: min(23rem, 90%);
  border-bottom: 13px solid var(--grey-dark-300);
  border-left: 13px solid var(--grey-dark-300);
}
.about-text {
  text-align: justify;
}
.about-text h2 {
  font-size: 36px;
}
.about-text p {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}
.tech-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
}
.tech-heading h2 {
  font-size: 24px;
  background-color: var(--grey-dark-300);
  width: 100px;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 15px;
}
.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.skills-img {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience {
  padding: 4rem 1rem;
  max-width: 1100px;
  margin: auto;
}

.experience-tag{
  display: flex;
  align-items: center;
  justify-content: center;

}
.experience-title {
  text-align: center;
  width: 200px;
  padding: 8px;
  background-color: var(--grey-dark-300);
  font-size: 1.5rem;
  margin-bottom: 3rem;
  border-radius: 25px;
}

.experience-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.experience-card {
  border: 2px solid var(--grey-dark-300);
  padding: 1.8rem;
  border-radius: 16px;
  transition: 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.experience-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.experience-header img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: 8px;
  background: white;
  padding: 4px;
}

.experience-card h3 {
  font-size: 1.2rem;
}

.company {
  display: block;
  font-weight: 600;
}

.period {
  display: block;
  font-size: 0.85rem;
  color: var(--text-light);
  margin-top: 2px;
}

.experience-card p {
  font-size: 0.95rem;
  line-height: 1.6rem;
}

.projects {
  padding: 4rem 1rem;
  max-width: 1100px;
  margin: auto;
}

.projects-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-card {
  /* background: var(--grey-dark-900); */
  border: 2px solid var(--grey-dark-300);
  padding: 10px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-content {
  padding: 1.2rem;
}
.project-content h3{
  font-weight: 600;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: var(--grey-dark-900);
  max-width: 600px;
  width: 90%;
  border-radius: 16px;
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content img {
  width: 90%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.modal-content h3 {
  color: var(--grey-dark-300);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.modal-content p {
  color: var(--grey-dark-300);
  font-size: 0.95rem;
  line-height: 1.6rem;
}

.modal-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.modal-tech span {
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  background: var(--grey-dark-300);
  border-radius: 8px;
}

.modal-links {
  display: flex;
  gap: 1rem;
}

.modal-links a {
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  background: var(--grey-dark-300);
  font-weight: 600;
}
.modal-links a:hover {
  background-color: var(--grey-dark-900);
  border: 1px solid var(--grey-dark-300);
  color: var(--grey-dark-300);
  transition: 0.3s;
}

.modal-close {
  position: absolute;
  color: var(--grey-dark-200);
  top: 10px;
  right: 12px;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}
.footer {
  /* background: var(--grey-dark-900); */
  border-top: 2px solid var(--grey-dark-400);
  padding: 3rem 1rem;
  margin-top: 4rem;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.footer-container h3 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.footer-container p {
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 1.5rem;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-social a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--text-light);
  transition: 0.3s;
}

.footer-social a:hover {
  color: var(--extra-light);
}

.footer-copy {
  font-size: 0.8rem;
  color: var(--text-light);
}
.footer-social button {
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

.email-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.email-modal {
  background: var(--grey-dark-900);
  color: var(--grey-dark-200);
  width: 100%;
  max-width: 420px;
  padding: 1.5rem;
  border-radius: 16px;
  position: relative;
}

.email-modal h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.email-modal form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.email-modal label {
  font-weight: 600;
}
.email-modal input,
.email-modal textarea {
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid var(--grey-dark-200);
  outline: none;
}

.email-modal button {
  padding: 0.6rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--grey-dark-200);
  color: var(--grey-dark-900);
}
.email-modal button:hover{
  background-color: var(--grey-dark-900);
  color: var(--grey-dark-300);
  border: 1px solid var(--grey-dark-300);
  transition: 0.5s;
}

.email-close {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 420px) {
  .nav_content {
    padding: 0.75rem 1rem;
  }
    .menu-toggle {
    display: block;
  }
  .nav__links {
    flex-direction: column;
    background: var(--primary-color-dark);
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    padding: 1rem;
    display: none;
  }

  .nav__links.open {
    display: flex;
  }

  .nav__links li {
    margin-bottom: 1rem;
  }

  .section {
    flex-direction: column-reverse; /* gambar di atas, teks di bawah */
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 2rem 1rem;
    min-height: 0;
    gap: 2rem;
    margin-bottom: 100px;
  }

  .section_container {
    width: 100%;
    text-align: center;
  }

  .judul {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .describe {
    font-size: 0.8rem;
    text-align: justify;
  }

  .location {
    justify-content: center;
    font-size: 0.7rem;
  }

  .button {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .button button {
    width: 100%;
    max-width: 200px;
    padding: 0.7rem 1.5rem;
  }

  .section-pict img {
    width: 220px;
    height: 220px;
  }

  .aboutme {
    padding: 2rem 1rem;
  }

  .aboutme-tag h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .image2 {
    display: flex;
    justify-content: center;
  }

  .image2 img {
    width: 220px;
    height: auto;
    border-radius: 16px;
  }

  .about-text {
    width: 100%;
  }

  .about-text p {
    font-size: 0.95rem;
    line-height: 1.6rem;
    text-align: justify;
  }
  
  .tech-container {
    padding: 2rem 1rem;
  }

  .tech-heading h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  .tech-heading p {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
  }
  .tech-skills {
    display: flex;
    justify-content: center;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    margin-top: 2rem;
  }

  .skills-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 12px;
  }

  .skills-img img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }

  .skills-img h3 {
    font-size: 0.85rem;
    text-align: center;
  }
  .experience-container {
    grid-template-columns: 1fr;
  }

  .experience-title {
    font-size: 1.8rem;
  }
  .projects-container {
    grid-template-columns: 1fr;
  }

  .modal-content {
    padding: 1rem;
  }
  .email-overlay{
    padding: 1.2rem;

  }
}